"*":
  "autohide-tree-view":
    hideDelay: 2000
    pushEditor: true
    showDelay: 50
  "color-picker":
    automaticReplace: true
  core:
    destroyEmptyPanes: false
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "chester-atom-2-syntax"
    ]
  editor:
    lineHeight: 2.3
  "exception-reporting":
    userId: "9e834b7f-be3a-4962-9369-5fc1a1046806"
  "git-blame":
    columnWidth: 300
  "linter-ui-default":
    panelHeight: 69
  welcome:
    showOnStartup: false
